.cartCount {
  height: 25px;
  width: fit-content;

  padding: 0 5px 0 5px;

  margin-right: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  background-color: crimson;

  border-radius: 10%;
}

.countDiv {
  width: 40px;
  height: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.actButton {
  width: 120px;

  display: flex;
  gap: 0;
  align-items: center;
}

.cartBtnTitle {
  height: 30px;
  width: 80px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.actButton img {
  height: 30px;
}

.storeIcon {
  height: 24px !important;
}
