.cartCount {
  height: 25px;
  width: fit-content;

  padding: 0 5px 0 5px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  background-color: red;

  border-radius: 10%;
}
