@font-face {
  font-family: times;
  src: url(/src/assets/fonts/times.ttf);
}

@font-face {
  font-family: Montserrat;
  src: url(/src/assets/fonts/Montserrat.ttf);
}

@font-face {
  font-family: Quicksand;
  src: url(/src/assets/fonts/Quicksand.ttf);
}

header {
  height: 100px;
  width: 100%;

  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-shrink: 0;

  background: #000e1d;
  background: linear-gradient(
    108deg,
    rgba(0, 14, 29, 1) 0%,
    rgba(0, 14, 29, 1) 57%,
    rgba(15, 53, 92, 1) 100%
  );

  position: sticky;
  top: 0;
}

.brandTitle {
  color: white;
  text-decoration: none;
}

h1 {
  text-decoration: underline 5px purple;

  font-family: Quicksand !important;
  font-size: 2rem;
}
